/bootstrap/compiled.php
/vendor
composer.phar
.env.*.php
.env.php
.DS_Store
Thumbs.db
.idea
_ide_helper.php

/public/js/laroute.js
/nbproject/private/
/app/storage/shapes/*
/public/css/images/logos/*
/composer.lock
/app/config/local/database.php
public/complementarios/anexos/*
!public/complementarios/anexos/.gitkeep
public/documentos/*
!public/documentos/.gitkeep
public/js/laroute.js
public/map_output
public/corevat/*
!public/corevat/.gitkeep
catastro.sql
corevat.sql
app/routes/catalogosRoutes.php
app/models/Notaria.php
app/models/personas.php
app/controllers/catalogos/ejecutoresController.php
app/controllers/ofvirtual/OficinaVirtualNotarioController.php
app/database/migrations/2015_05_23_000001_corevat_aem_comp_terrenos.php
app/controllers/catalogos/ejecutoresController.php
app/models/Notaria.php
app/controllers/ofvirtual/OficinaVirtualNotarioController.php
app/routes/catalogosRoutes.php
app/models/User.php
app/database/migrations/2015_05_23_000001_corevat_aem_comp_terrenos.php
app/database/migrations/2015_05_23_000001_corevat_aem_comp_terrenos.php
app/database/migrations/2015_05_23_000001_corevat_aem_comp_terrenos.php
app/database/migrations/2015_05_23_000001_corevat_aem_comp_terrenos.php
app/database/migrations/2015_05_24_2155746_create_traslados_table.php
