/bootstrap/compiled.php
/vendor
composer.phar
.env.*.php
.env.php
.DS_Store
Thumbs.db
.idea
_ide_helper.php

/public/js/laroute.js
/nbproject/private/
/app/storage/shapes/*
/public/css/images/logos/*
/composer.lock
/app/config/local/database.php
public/complementarios/anexos/*
!public/complementarios/anexos/.gitkeep
public/documentos/*
!public/documentos/.gitkeep
public/js/laroute.js