
.btn-coveratPrincipal{
    padding: 15px 0;
    margin-top: 20px;
    text-align: center;
    color: white;
    width: 100%;
    border: none;
    background: #F27007 !important;
}
.btn-coveratSecondary{
    padding: 15px 0;
    margin-top: 20px;
    text-align: center;
    color: white;
    width: 100%;
    border: none;
    background-color: #337ab7 !important;;
    border-color: #2e6da4 !important;;
}
.container{
    width: 100%;
    max-width: inherit;
    padding:0 50px;
}
h3{
    background: none;
    font-size: 40px;
    padding: 20px;
    font-weight: 300;
    margin: 0 0 20px 0;
}
.coveratCont label{
    color: #515152;
    font-size: 18px;
    font-weight: 500;
    text-align: right;
    padding: 0 5px 0 0 !important;
}
.coveratCont .hasDatepicker{
    cursor: pointer !important;
    cursor: not-allowed;
    background-color: none;
    opacity: 1;
    border: none;
    box-shadow: none;
    border-radius: 0;
}
.coveratCont div[class^='col-md-'], .coveratCont div[class*=' col-md-']{
    margin-bottom: 5px;
}
.coveratCont div.col-md-10, .coveratCont div.col-md-8{
    background: #eee;
}
.coveratCont input, .coveratCont select{
    box-shadow: none !important;
    background: none;
    border: none !important;
    width: 100% !important;
}

.coveratCont .cords input{
    border-radius: 0;
    border-bottom: 1px solid #000000 !important;
    width: 24% !important;
}

#menuAvaluosSections a{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    vertical-align: bottom;
}
#menuAvaluosSections a.btn-info{
    background-color: gray;
    border-color: gray;
}
#menuAvaluosSections a.btn-primary{
    font-size: 16px;
    color: #fff;
    background-color: darkgray;
    border-color: darkgray;
    padding: 10px 15px;
}
h4{
    background-color: #ECECEC;
    padding: 20px;
    color: #131313;
    margin-bottom: 0;
}
#zonaCoveratSecc .checkboxContainer{
    padding: 5px 17px;
    border: 1px solid #E0E0E0;
}

#zonaCoveratSecc .checkbox{
    width: 49%;
    display: inline-block;
    padding: 5px;
}
#zonaCoveratSecc .checkbox label{
    font-size: 18px;
    font-weight: 300;
}
#zonaCoveratSecc .checkbox input[type="checkbox"]{
    margin-left: 0px;
    left: 0;
}

.addImage {
    width: 100%;
}
.addImage .input-group .form-control:first-child{
    border-radius: 0;
}

.btn-beside-title{
    margin-top: 10px;
    margin-left: -15px;
    padding: 0;
}
.btn-beside-title a {
    height: 58px;
    border: none;
    line-height: 47px;
    text-align: center;
    color: white;
    width: 100%;
    border-radius: 0;
    background: #3f3f3f;
}
.btn-beside-title a:hover{
    background: #CAC9C9;
}
.btn-beside-title a span{
    padding-right: 10px;
}

table td, table th{
    vertical-align: middle !important;
    font-size: 12px !important;
    text-align: center !important;
    border: 1px solid #ddd !important;
}

table td.idEdit{
    padding: 0 !important;
}

table th{
    background: #808080;
    border: 1px solid #CACACA !important;
    color: white;
    font-weight: 300;
}


#listAvaluos .btn-beside-title{
    margin-top: 0;
}
#inmueblesCoverat .dataTables_length{
    padding: 32px 0;
}


.dataTables_length{
    padding: 20px 0;
}




/* Alerts */

.ui-widget-content{
    border-radius: 10px;
}
.ui-widget-content .ui-widget-header{
    border: none;
    background: none;
}
.ui-widget-content .ui-dialog-buttonpane{
    border: none;
}
.ui-widget-content .ui-dialog-content h3{
    font-size: 18px;
}