.container{
    max-width: 950px;
    padding: 40px 0;
    margin: 0 auto;
}
.page-header{
    border: none;
}
.page-header h2{
    padding-bottom: 14px;
}
.page-header h2 small {
    display: block;
    color: #F27007;
}

.panel-body{
    padding: 0;
}

.panel-body .btn{
    display: block;
    width: 100%;
}

.panel-body .btn.btn-warning{
    background: #F27007;
}

.panel-heading{
    border: none;
    background: none;
    border-bottom: 1px solid #F27007;
}
.panel-heading .panel-title{
    font-weight: lighter;
    color: gray;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    vertical-align: middle;
    border-right: 1px solid #ddd;
    border:none;
    border-bottom: 1px solid #ddd;
    text-align: center;
}