.container{
    max-width: 950px;
    padding: 40px 0;
    margin: 0 auto;
}
.page-header{
    border: none;
}
.page-header h2{
    padding-bottom: 14px;
}
.page-header h2 small {
    display: block;
    color: #F27007;
}