/* Colores y fonts generales que sobreescriben el default de bootstrap */

body {
    color: #5c5c5c;
}

.page-header {
    margin: 0px 0 20px;
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
    margin-top: 5px;
}