/* gris-claro = #eee */
/* gris-oscuro = #808080 */

body, html{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #808080;
    font-weight: 300;
    font-size: 13px;
}

.container{
    width: 100%;
    max-width: inherit;
    padding:0 50px;
}

.page-header{
    border: none;
    text-align: left;
}
.page-header h3 ,.page-header h4{
    background: none;
    font-size: 40px;
    padding: 20px 0 0 0;
    font-weight: 300;
    margin: 0;
    color: #333;
}
.page-header h4{
    padding: 0 0 20px 0;
    font-size: 20px;
}
.btn-actionForm01, .btn{
    border: none;
    display: block !important;
    width: 100% !important;
    border-radius: 0 !important;
    padding: 10px 0;
    border: 1px solid #eee;
}
.btn-actionForm01 .badge-num{
    color: #808080;
}

.paddin-null{
    padding: 0 !important;
}

.margin-null{
    margin: 0 !important;
}

.bg-gray01{
 background-color: #eee;
}
.bg-gray02{
    background-color: #808080;
}

.pagination{
    float:right !important;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    color: #fff;
    background: #808080;
    border-color: gray;
}

.pagination > li > a, .pagination > li > span{
    border-color: gray;
    color: #808080;
}


/* Tables */

.table > thead > tr > th{
    background: #3f3f3f;
    color: white;
    text-align: center;
}

table tr td{
    vertical-align: middle !important;
    border: 1px solid #E6E6E6;
    text-align: center;
}