/* gris-claro = #eee */
/* gris-oscuro = #808080 */

.page-header h3 ,.page-header h4{
    background: none;
    font-size: 40px;
    padding: 20px;
    font-weight: 300;
    margin: 0 0 20px 0;
    color: #5c5c5c;
}
.page-header h4{
    font-size: 20px;
}
