.main-container img{
    width: 100%;
}
.main-container{
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    padding: 30px 0 10px 0;
}
.main-container .options-cont{
    padding: 35px 0;
}
.main-container .options-cont .main-option{
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 100%;
    background: gray;
    max-height: 200px;
    overflow: hidden;
    padding: 10px;
}
.main-container .options-cont .main-option.op01{
    border-bottom:10px solid #69B1C9;
}
.main-container .options-cont .main-option.op02 {
    border-bottom:10px solid #E7C539;
}
.main-container .options-cont .main-option.op03 {
    border-bottom:10px solid #A7222F;
}
.main-container .options-cont .main-option .desc{
    position: absolute;
    width: 100%;
    height: 40px;
    padding: 5px 15px;
    font-size: 12px;
    color: #ffffff;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
}
.main-container .main-option:hover .desc{
    text-decoration: underline;
}


.main-container h1{
    font-weight: bold;
    font-size: 20px;
    display: block;
}

.select-municipio{
    background: #D4D4D4;
}
.select-municipio .row a{
    width: 100%;
    display: block;
    margin-bottom: 30px;
}
.select-municipio .row a:hover{
    box-sizing: border-box;
    border: 10px solid dimgray;
}
.select-municipio .row a img{
    width: 100%;
}